.place__website{
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: #ffffff;
  font-style: normal;
  transition: opacity 0.2s linear;
}

.place__website:hover{
  opacity: 0.8;
}